.btn {
  width: 28rem;
  height: 4.6rem;
  background: #ee6c6c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  cursor: pointer;
  border: none;
  color: #ffff;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.4rem 2.6rem 1.1rem 2.19rem;
  position: relative;
  margin-left: 1rem;
  text-decoration: none;
  display: block;
}

.btn::after {
  position: absolute;
  content: "";
  background-image: url("../images/arrow.svg");
  width: 1.7rem;
  height: 2.3rem;
  top: 1rem;
  right: 2rem;
}

.btn:hover {
  background: #d65757;
}

/* BELOW 528px */
@media (max-width: 33rem) {
  .btn::after {
    width: 1.5rem;
    height: 2.1rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* BELOW 492px */
@media (max-width: 30rem) {
  .btn {
    font-size: 1.5rem;
  }
  .btn::after {
    width: 1.3rem;
    height: 1.9rem;
    background-size: contain;
    background-repeat: no-repeat;
    top: 1.2rem;
  }
}

/* BELOW 452px */
@media (max-width: 28rem) {
  .btn {
    font-size: 1.3rem;
    width: 25rem;
    height: 4.3rem;
  }

  .btn::after {
    width: 1.1rem;
    height: 1.7rem;
    background-size: contain;
    background-repeat: no-repeat;
    top: 1.3rem;
  }
}

/* BELOW 398px */
@media (max-width: 29rem) {
  .btn {
    font-size: 1.3rem;
    width: 25rem;
    height: 4.3rem;
    text-transform: capitalize;
    padding: 1.4rem 2rem 1.5rem 2.5rem;
  }

  .btn::after {
    width: 1.1rem;
    height: 1.7rem;
    background-size: contain;
    background-repeat: no-repeat;
    top: 1.3rem;
    right: 1rem;
  }
}
